body {
    font-family: Altivo, Inter, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header,
.title,
.feed,
.quote,
.cta,
.footer {
    padding: 16px 128px;
}

.header,
.title,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title,
.feed,
.quote {
    padding-top: 64px;
    padding-bottom: 64px;
}

.title {
    display: flex;
    gap: 32px;
}

.title-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-content-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.title-content-text {
    color: #e5e7eb;
    font-size: 18px;
}

.title-content-button {
    background-color: #3882f6;
    padding: 16px 32px;
    font-family: inherit;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 8px;
    border-radius: 8px;
    width: 30%;
}

.title-image {
    margin: 16px 0px;
}

.feed-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.feed-content {
    display: flex;
    justify-content: space-evenly;
    gap: 64px;
    margin-top: 32px;
}

.feed-items {
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}